<h1>Enter Student Details</h1>
<head>
    <style>
      h1 {
        color: whitesmoke;
    text-shadow: 3px 3px 5px #000000;
  }
    h1 {
    text-decoration: underline;
  }
      body {
        background-image: url("https://wallpaperset.com/w/full/d/3/4/462767.jpg");
        background-size: cover;
        min-height: 100%;
        min-width: 100%;
        background-position: center center;
        height: 700px;
      }
    </style>
  </head>
<form action="/login/student" method="post">
    <label for="student">student name:</label><br>
    <input type="text"  name="student" required><br><br>

    <label for="Course">Course name:</label><br>
    <input type="text" name="Course" required><br><br>

    <label for="fee">Fee info:</label><br>
    <input type="text" name="fee" required><br><br>

    <label for="grades">Grades:</label><br>
    <input type="text" name="grades" required><br><br>

    <label for="city">city:</label><br>
    <input type="text" name="city" required><br><br>

    <label for="contact">Contact info:</label><br>
    <input type="text" name="contact" required><br><br>

    <input type="submit" value="Submit">

  </form>