<h1>Welcome</h1>

<head>
  <style>
    h1 {
      color: whitesmoke;
  text-shadow: 3px 3px 5px #000000;
}
  h1 {
  text-decoration: underline;
}
    body {
      background-image: url("https://wallpaperaccess.com/full/3179956.jpg");
      background-size: cover;
      min-height: 100%;
      min-width: 100%;
      background-position: center center;
      height: 700px;
    }
  </style>
</head>
<ul>
<li><a href="/login/student">ADD student details</a></li><br><br>
<li><a href="/login/view">VIEW student details</a></li>
</ul>

    